main {
    padding: 40px;
}

.profile {
    width: 100%;
    background-color: #ffffff;
    border-radius: var(--border-radius);
    display: flex;
    padding: 20px;
    margin: 5px;
    box-shadow: 2px 2px 5px #7c7979;
}

.profile__photo {
    width: 10em;
    height: 10em;
    border-radius: 9999px;
    background-image: url(../../assets/profilepicture.png);
    background-position: center;    
    background-repeat: no-repeat;
    background-size: cover;

}

.profile * {
    margin: 5px;
}

.profile section {
    display: flex;
    flex-direction: column;
    font-style: inherit;
    margin-left: 40px;
}

.profile h2 {
    font-size: 2em;
    margin: 0;
}

.profile__stats {
    display: flex;
}


.profile__stats__number {
    color: var(--color-secondary);
    font-weight: bold;
    font-size: 1.5em;
}

.profile__stats li,
.profile__stats p {
    margin: 0;
}

.profile__stats li {
    list-style-type: none;
    text-align: center;
    margin-right: 10px;
}
.question-container__profile__info button {
  border: none;
  padding: 0.8em 1.2em;
  border-radius: var(--border-radius);
  font-size: 1em;
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
}
.question-container__profile__info button:nth-of-type(1) {
  background: var(--color-secondary);
}
.question-container__profile__info button:nth-of-type(1):hover {
  background: var(--color-accent);
}

.question-container__profile__info button:nth-of-type(2) {
  background: var(--color-primary);
}
.question-container__profile__info button:nth-of-type(2):hover {
  background: var(--color-tertiary);
}

.question-container__profile {
    border-radius: 8px;
}

.question-container__profile__title {
    display: flex;
    flex-direction: column;
    background-color: var(--color-tertiary);
    color: var(--color-bg-light);
}

.question-container__profile__title * {
    margin: 10px;
    padding: 0;
}

.question-container__profile__title h4 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0;
}


