main {
    margin: 3em 4em;
    padding: 2em 1em;
    width: 70%;
    display: flex;
    justify-self: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow:  var(--shadow);
    border-radius: var(--border-radius);
  }

  main h2 {
    align-self: center;
  }

  main form {
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
  }

  input, textarea {
    border-radius: var(--border-radius);
    border: 1px solid var(--color-primary);
    height: 2.5em;
    margin: 0.75em 0em;
    padding: 1em 0.25em ;
    width: 100%;
    font-family: var(--font-base);
  }

  textarea {
      height: 5em;
      font-style: normal;
  }

  main button {
    width: 100%;
    margin: 0.25em 0em;
    color: #fff;
    border: none;
    padding: 0.75em 1em;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background 0.3s;
  }

.form-group, label {
    display: flex;
    flex-direction: column
}

hr {
    color: var(--shadow);
}

.question-container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-light);
    border-radius: var(--border-radius);
    margin: 1em 0em;
    padding: 1em;
}

.question-container img {
    width: 2em;
}
.question-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}

.question-title {
    font-size: 1.5em;
}

.options-container {
    margin: 0em 0em 0em 2em;
}

.add-question-btn {
    background: var(--color-primary)
}

.add-question-btn:hover {
    background: var(--color-tertiary);
}

.button-container {
    display: flex;
    flex-direction: row;
    margin: 1em 0em;
    align-items: center;
    justify-content: end;
}

.button-container button{
    margin: 0em 1em;
    width: 20%;
    text-align: center;
}

main button {
    height: 3em;
}

.save-btn {
    background: #fff;
    color: var(--color-tertiary);
    border: 1px solid var(--color-tertiary);
}

.save-btn:hover {
    background: rgba(236, 236, 236, 0.82);
}

.publish-btn {
    background-color: var(--color-secondary);
}

.publish-btn:hover {
    background: var(--color-accent);
}