:root {
    --color-primary: #05668D;
    --color-secondary: #679436;
    --color-tertiary: #427AA1;
    --color-bg-light: #EBF2FA;
    --color-accent: #A5BE00;


    --font-base: 'Arial', sans-serif;
    --border-radius: 4px;
    --max-width: 1200px;
    --gap: 1em;
}

header {
    background: var(--color-primary);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8em 1em;
  }
  header > div {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  header img {
    width: 50px;
    height: auto;
    display: block;
  }
  header h2 {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
  }
  nav li {
    cursor: pointer;
    padding: 0.5em;
    transition: background 0.3s;
  }
  nav li:hover {
    background: var(--color-accent);
    border-radius: var(--border-radius);
  }
  
  /* Przycisk Sign In */
  header button {
    background: var(--color-secondary);
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background 0.3s;
  }
  header button:hover {
    background: var(--color-accent);
  }